[Unit]
Description=getpublicIP.sh: get public ip address from ipinfo.io
After=network.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/getpublicIP.sh
ExecStartPost=/bin/sleep 5
Restart=always

RestartSec=600
TimeoutSec=10

[Install]
WantedBy=multi-user.target